.countrys{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    margin-right: auto;
    margin-left: 200px;
    width: 900px;
    height: auto;
    text-align: justify;
    background: #a3d2ca;

    p{
        padding-top: 20px;
        padding-bottom: 50px;
    }
}

