.text{
    margin-right: 200px;
    height: auto;
    text-align: justify;
    padding: 50px;
    margin-left: 250px;
    background: #a3d2ca;
    
    h1{
        padding-top: 60px;
        padding-bottom: 20px;
    }
}