.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #132C33;
    color: #A3D2CA;
    height: 10vh;

    p{
        font-size: 20px;
    }
}