.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    height: 10vh;

    p{
        font-size: 20px;
    }
}